<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "BplateTwo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full bg-gray-100">
    <header>
      <nav x-data="{ open: false }" class="flex flex-wrap items-center justify-between py-2 px-4 fixed top-0 right-0 left-0 z-30 bg-gray-100 shadow-lg">
        <a class="inline-block mr-4 py-1 text-xl text-gray-900" href="#"><i class="fas fa-bolt"></i> BplateTwo</a>
        <button @click="open = !open" class="sm:hidden py-1 px-3 text-xl text-gray-700 text-opacity-75 border border-gray-400 rounded leading-none" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <i class="fas fa-bars"></i>
        </button>
        <div :class="{ 'show': open === true }" class="hidden sm:flex flex-grow items-center">
          <ul class="flex pl-0 mb-0 mr-auto">
            <li><%= link "Home", to: Routes.page_path(@conn, :index), class: "px-2 text-black text-opacity-50 hover:text-opacity-75 transition-all duration-200 ease-in-out" %></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "px-2 text-black text-opacity-50 hover:text-opacity-75 transition-all duration-200 ease-in-out" %></li>
            <% end %>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </div>
      </nav>
    </header>

    <%= @inner_content %>

    <footer class="footer bg-gray-800 text-gray-600 mt-auto py-6">
      <div class="container mx-auto px-4 max-w-6xl">
        <span class="text-muted"><i class="fas fa-bolt"></i> BplateTwo</span>
      </div>
    </footer>
  </body>
</html>
